
table {
    margin-top: 80px;
    width: 500px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table td,
table th {
    border: 1px solid #8489a7;
    padding: 3px 2px;
    width: 33.3%;
}

table tbody td {
    font-size: 12px;
}

table thead th {
    font-size: 19px;
    font-weight: bold;
    align-items: center;
}